<div class="container contact-container mb-3">
  <div class="text-center contact-header"><h2>CONTACT US</h2></div>
  <p class="text-center w-75 m-auto">
    We examine a range of problems and challenges that are staring at us, and
    present innovative and untrodden ways to develop the approach to solving
    them. Discovering such possibilities requires a new way of thinking.
    Uncreating existing reference points and examining the problem itself,
    rather than rushing to find solutions. Be rest assured, Hyntec resolves the
    issue best for you..
  </p>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
      <div class="card border-0">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-1">
                  <i
                    class="fa fa-map-marker fa-2x contact-icon"
                    aria-hidden="true"
                  ></i>
                </div>
                <div class="col-10">
                  <h4 class="contact-icon-title mb-2">Our Office Address</h4>
                  <address>
                    #5, 2nd Floor, 5th Cross,Opp SANA Super Mart,
                    Kodichikkanahalli Rd, Bilekahalli, Bangalore-560076
                  </address>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-1">
                  <i
                    class="fa fa-phone fa-2x contact-icon"
                    aria-hidden="true"
                  ></i>
                </div>
                <div class="col-10">
                  <h4 class="contact-icon-title mb-2">Call Us</h4>
                  <address>+91-8951411413<br />+91-9036312990</address>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-1">
                  <i
                    class="fa fa-envelope fa-2x contact-icon"
                    aria-hidden="true"
                  ></i>
                </div>
                <div class="col-10">
                  <h4 class="contact-icon-title mb-2">Email</h4>
                  <address>info@hyntec.in</address>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-1">
                  <i
                    class="fa fa-clock-o fa-2x contact-icon"
                    aria-hidden="true"
                  ></i>
                </div>
                <div class="col-10">
                  <h4 class="contact-icon-title mb-2">Our Timings</h4>
                  <address>
                    Mon - Sat : 09:30 AM - 06:30 PM<br />
                    Sun : Closed
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
      <app-contact-form></app-contact-form>
    </div>
  </div>
</div>
<div class="container-fluid map-container mb-3">
  <iframe
    width="100%"
    height="400px"
    id="gmap_canvas"
    src="https://maps.google.com/maps?q=hyntec%20it%20services&t=&z=17&ie=UTF8&iwloc=&output=embed"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
  >
  </iframe>
</div>
<!--
  <div class="container-fluid map-container mb-3">
    <app-contact-map></app-contact-map>
  </div>
-->
