<div class="container content-conatiner">
  <div class="row">
    <div class="col-12 service-detail-container pt-4">
      <h2 class="content-main-header">Desktops and Laptops Rental</h2>

      <div class="row">
        <div class="col-sm-12">
          <div><img class="content-image rental-image img-left img-fluid mr-4 mt-3 rounded" src="assets/images/rental.jpg" /></div>
          <br />
        </div>
        <div class="col-sm-12">
          <div class="content-heading mt-2"><h3>Overview</h3></div>
          <p class="content-text">
            We offer a full line of technology rental equipment: Desktops and Laptops. Whatever technology you need, we can source it for
            you! It does not matter where you are, how many units you need, what your specifications are, or whether you need installation
            and setup, we can help! Your dedicated agent will work with you from start to finish to ensure a seamless experience.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-service-card></app-service-card>
<app-quick-links></app-quick-links>
<!-- <div style="min-height:1em"></div> -->
