<div class="container content-conatiner">
  <div class="row">
    <div class="col-12 service-detail-container pt-4">
      <h2 class="content-main-header">Desktop and User Support</h2>
      <div class="row">
        <div class="col-lg-5 ml-auto">
          <img class="content-image desktop-support-image img-left img-fluid mr-4 mt-1 rounded" src="assets/images/desktopsupport.jpg" />
        </div>
        <div class="col-lg-7 mr-auto">
          <div class="content-heading mt-2"><h3>Overview</h3></div>
          <p class="content-text">
            We provide on-site expert, friendly technical support to business, home and home office users. Unlike repair shops, we have a
            strong emphasis on explanation, friendly communication, and training.
          </p>
          <br />
        </div>
        <div class="col-12 pt-4">
          <h4>Our team can offer you a wide range of expertise:</h4>
          <h5 style="color:#1476ac;">Day or Night</h5>
          <p class="content-text">
            We work around your schedule to help you get the service when you need it. Appointments are set for specific times.
          </p>
          <h5 style="color:#1476ac;">Virus Removal and Protection</h5>
          <p class="content-text">
            Get rid of nasty spyware and viruses. Keep them out with powerful protection for the whole family. Keep your workstations secure
            and protected from viruses, prying eyes, or thieves.
          </p>
          <h5 style="color:#1476ac;">Workstation upgrades and replacements</h5>
          <p class="content-text">
            You’ll know when it’s time to upgrade or replace your workstations thanks to our advanced monitoring system. When it is, we’ll
            make it seamless by helping you select the right equipment, then onboarding it with minimal user impact.
          </p>
          <h5 style="color:#1476ac;">On-site and remote support</h5>
          <p class="content-text">
            Schedule an appointment to get help on site, or call/email us for a faster response. We use powerful software to share your
            screen and get you help with a minimal wait.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-service-card></app-service-card>
<app-quick-links></app-quick-links>
