.navbar-fixed {
  background-color: #f4f7fc;
  font-size: 15px;
  padding-bottom: 0.5em;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
.navbar-container {
  padding-left: 1em;
}
.navbar-fixed .navbar-nav > li > a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar-nav li.nav-item {
  cursor: pointer;
  font-size: 1.25em;
  a.nav-link {
    color: black;
    transition: 0.5s;
    transition-timing-function: ease;
  }
}
.navbar-toggler {
  &:focus {
    outline: none;
  }
}

.navbar-brand {
  padding: 0;
  img {
    width: 130px;
  }
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #1476ac;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #ffffff;
  background: #1476ac;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background: #1476ac;
}

.contact-form .form-control {
  border-radius: 0.25rem;
}
.modalBtn {
  border: none;
  padding: 0.25em 1em;
  background-color: #faa61a;
  border-color: #faa61a;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: #faa61a;
    border-color: #faa61a;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:active {
    background-color: #faa61a !important;
    border-color: #faa61a !important;
    box-shadow: none !important;
  }
}

.contact-form-modal {
  .modal-header {
    padding: 0.2em 1em;
    text-align: center;
  }
  .modal-header-text {
    color: #1476ac;
  }
  .modal-title {
    width: 100%;
  }
  .close {
    padding-top: 1.25em;
    &:focus {
      outline: none;
    }
  }
}

.navbar-fixed {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
