.service-detail-container {
  .content-image {
    float: left;
    max-width: 400px;
    max-height: 250px;
    padding-bottom: 0.5em;
  }
  .content-main-header {
    color: #1476ac;
  }
  .content-text {
    text-align: justify;
  }
}
