<div class="container content-conatiner">
  <div class="row">
    <div class="col-12 service-detail-container pt-4">
      <h2 class="content-main-header">Annual Maintenance Contracts (AMC)</h2>

      <div class="row">
        <div class="col-sm-12">
          <div><img class="content-image img-left img-fluid mr-4 mt-3 rounded" src="assets/images/amc.jpg" /></div>
          <div class="content-heading mt-2"><h3>Overview</h3></div>
          <p class="content-text">
            A regular computer maintenance service is probably the simplest and most effective way to keep your PC running in top condition.
            Everyone worries and rightfully so about viruses, Trojan horses, spyware and other nasties, yet the majority of users experience
            no significant problems with these issues. But every computer, everywhere, is at risk from the number one threat to your PC’s
            delicate electronics dust.
          </p>
          <p class="content-text">
            Most users never think about cleaning their PCs, and neither do our clients, because we make sure all their machines are cleaned
            and properly configured according to a regular maintenance and cleaning schedule. Our computer maintenance service takes care of
            the big stuff as well as the small stuff, so your system stays in peak condition with top productivity.
          </p>
          <p class="content-text">
            We are known as the best service provider for computer AMC (Annual Maintenance Contract). Our company is providing AMC Services
            for computers to our valued clients at very reasonable price. We undertake Annual Maintenance Contract for computer as well as
            for laptops. Using latest and advanced software, we offer complete solution of computers on the basis of annual contract. Our
            experts assure to maintain the functionality of computer to ensure smooth performance.
          </p>
          <p class="content-text">
            Backed by a team of highly qualified professionals, we are providing our clients cutting edge AMC Services. In this service, we
            provide Annual Maintenance Contracts for all computer related trouble from hardware to software. The service we provide, are
            broadly appreciated by our clients for our regular and reliable maintenance. For providing the service in an efficient manner,
            we try to stay in regular touch with our clients, so that we can provide them constant solution.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-service-card></app-service-card>
<app-quick-links></app-quick-links>
