<div class="container content-conatiner">
  <div class="row">
    <div class="col-12 service-detail-container pt-4">
      <h2 class="content-main-header">Network Installation</h2>

      <div class="row">
        <div class="col-sm-12">
          <div>
            <img
              class="content-image network-image img-left img-fluid mr-4 mt-3 rounded"
              src="assets/images/network.jpg"
            />
          </div>
          <div class="content-heading mt-2"><h3>Overview</h3></div>
          <p class="content-text">
            We serve LAN and WAN network installations aiming perfect trouble
            free atmosphere. We always provide a greater support to our clients
            with regards to network infrastructure services.
          </p>
          <h5 style="color:#1476ac;">Our solutions are</h5>
          <p class="content-text pl-1">
            • Data Cabling (Cat 5 & 6).<br />
            • Connectivity (LAN & WAN).<br />
            • Firewall Installations.<br />
            • Hardware Installations.<br />
            • Outdoor WiFi.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-service-card></app-service-card>
