<section class="about-container mb-0">
  <div class="container">
    <h2 class="text-center">About Us</h2>
    <hr class="star-light mb-5" />
    <div class="row">
      <div class="col-lg-6 ml-auto">
        <p class="lead">
          Our perspective on technologies, industries, and markets is comprehensive and nuanced. We combine that perspective with research,
          operational best practices, and a holistic strategy lifecycle approach. It’s how we make sure the guidance you get from us is
          meaningful, specific, actionable and effective.
        </p>
      </div>
      <div class="col-lg-6 mr-auto">
        <!-- <h3 style="color:#1476ac;">Our Vision</h3> -->
        <p class="lead">
          We paired with each customer to understand the organization’s IT challenges and also advise them how to start. Then we leverage
          our platform to centralize, organize and setup the IT landscape in the ways best suited for the organization’s goals.
        </p>
      </div>
    </div>
    <!--
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="#">
          <i class="fas fa-download mr-2"></i> Download Now!
        </a>
      </div>
    -->
  </div>
</section>

<!--
  <section class="about-container">
    <div class="container-fluid">
      <div class="row">
        <div class="text-center">
          <h2 class="title-header">About Us</h2>
          <div class="col-md-12">
            <p>
              Our perspective on technologies, industries, and markets is
              comprehensive and nuanced. We combine that perspective with
              research, operational best practices, and a holistic strategy
              lifecycle approach. It’s how we make sure the guidance you get from
              us is meaningful, specific, actionable and effective.
            </p>
            <h3 style="color:#1476ac;">Our Vision</h3>
            <p>
              We paired with each customer to understand the organization’s IT
              challenges and also advise them how to start. Then we leverage our
              platform to centralize, organize and setup the IT landscape in the
              ways best suited for the organization’s goals.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
-->
