<div class="container-fluid modal-form-container">
  <form [formGroup]="contactModalForm" (ngSubmit)="onSubmit()">
    <ng-container *ngIf="isCurrentEnabled; else: elseTemplate">
      <div class="current-container">
        <label class="control-label">What Service Do You Need?</label>
        <div class="checkbox">
          <ng-container formArrayName="serviceList">
            <label class="checkbox-label" *ngFor="let order of services; let i = index">
              <input type="checkbox" [value]="order.id" [formControlName]="i" />
              <span class="cr"><i class="cr-icon fa fa-check" aria-hidden="true"></i></span> {{ order.name }}
            </label>
          </ng-container>
        </div>
        <label class="control-label">Where Do You Need The Service?</label>
        <select class="form-control" placeholder="Select">
          <option default hidden>Select</option>
          <option>Doorstep</option>
          <option>Service Centre</option>
        </select>
        <br />
        <br />
        <br />
        <br />
        <div class="form-group text-center">
          <button name="nextBtn" class="btnContact btn btn-primary nextBtn" (click)="onNextClick()">
            Next <i class="fa fa-arrow-right ml-1"></i>
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="next-container">
        <div class="row">
          <div class="col-12 contact-form contact-content">
            <div class="form-group">
              <label class="control-label">Name:</label>
              <input
                type="text"
                formControlName="name"
                name="txtName"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                placeholder="Name *"
                required
              />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Email:</label>
              <input
                type="email"
                formControlName="email"
                name="txtEmail"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                placeholder="Email *"
                required
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Mobile Number:</label>
              <input
                type="number"
                formControlName="mobile"
                name="txtPhone"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
                placeholder="Mobile Number *"
                required
              />
              <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">Mobile Number is required</div>
                <div *ngIf="f.mobile.errors.minlength">Mobile Number must be at least 6 characters</div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Message:</label>
              <textarea
                name="txtMsg"
                class="form-control"
                formControlName="message"
                [ngClass]="{ 'is-invalid': submitted && f.message.errors }"
                placeholder="Your Message *"
                style="width: 100%; height: 150px;"
                required
              ></textarea>
              <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                <div *ngIf="f.message.errors?.required">Message is required</div>
              </div>
            </div>
            <div class="form-group text-center">
              <button name="backBtn" class="btnContact btn btn-primary backBtn" (click)="onBackClick()">
                <i class="fa fa-arrow-left ml-1"></i> Back
              </button>
              <button type="submit" name="btnSubmit" class="btnContact btn btn-primary submitBtn" value="Send Message">
                Send Message<i class="fa fa-paper-plane-o ml-1"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </form>
</div>
