<!-- contact form -->

<div class="contact-form">
  <form>
    <div class="form-group">
      <input
        type="text"
        name="txtName"
        class="form-control"
        placeholder="Your Name *"
        value=""
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        name="txtEmail"
        class="form-control"
        placeholder="Your Email *"
        value=""
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        name="txtPhone"
        class="form-control"
        placeholder="Your Phone Number *"
        value=""
      />
    </div>

    <div class="form-group">
      <textarea
        name="txtMsg"
        class="form-control"
        placeholder="Your Message *"
        style="width: 100%; height: 150px;"
      ></textarea>
    </div>
    <div class="form-group text-center">
      <button
        type="submit"
        name="btnSubmit"
        class="btnContact btn btn-primary submitBtn"
        value="Send Message"
      >
        Send Message<i class="fa fa-paper-plane-o ml-1"></i>
      </button>
    </div>
  </form>
</div>

<!-- contact form -->
