<ngb-carousel>
  <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
  <ng-template ngbSlide>
    <div class="carousel-inner">
      <div class="item">
        <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
        <blockquote>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque
            laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.
          </p>
        </blockquote>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-inner">
      <div class="item">
        <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
        <blockquote>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque
            laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.
          </p>
        </blockquote>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-inner">
      <div class="item">
        <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
        <blockquote>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque
            laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.
          </p>
        </blockquote>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
