<section class="aboutus-container mb-0">
  <div class="container">
    <h2 class="text-center">About Us</h2>
    <hr class="star-light mb-4" />
    <div class="row">
      <div class="col-lg-6 ml-auto">
        <div>
          <img
            class="content-image img-left img-fluid mr-4 mt-1 rounded"
            src="assets/images/about-us.jpg"
          />
        </div>
      </div>
      <div class="col-lg-6 mr-auto">
        <p class="lead">
          Hyntec IT Services, service provider works with the core objective of
          serving the clients with best solutions. We integrate the advanced
          technology to your business environment to boost the functionality and
          productivity of your business. Since our inception in Bangalore, India
          in the year 2018, we have served a number of organizations and
          establishments with our end-to-end IT services and technology
          solutions like structured cabling & Annual maintenance contracts, to
          meet your digital marketing needs as well.<br /><br />
          Our team of experts takes the effort to provide bespoke solutions to
          empower your business in the digital world. We pay more attention to
          come up with perfect solution suiting individual business requirements
          and expectations.
        </p>
        <br /><br />
      </div>
      <div class="col-12 pt-4">
        <h4 style="color:#1476ac;">
          What makes us Unique from our Competitors?
        </h4>
        <p class="lead list-content pl-5">
          • Our team comprises highly skilled technology experts. <br />
          • Infinite numbers of 100% satisfied customers from across
          Bangalore.<br />
          • Our IT solutions will certainly improve your overall business
          performance.<br />
          • With our smart IT Services we help you reduce your overall costs
          involved.<br />
        </p>
        <p class="lead pt-1">
          We provide an independent and objective oriented assessment of your
          existing IT environment and thus help you understand the core benefits
          and risks involved In addition to these services, we also provide
          business solutions which are both practical and insightful adding real
          value to your organization.
        </p>
        <h4 style="color:#1476ac;">Our Assistance benefits:</h4>
        <p class="lead">
          Our adorable assistance at Hyntec AMC Support delivers magnificent and
          strong IT Services in Bangalore region with utmost effective &
          efficiency at work that helps our clients to enjoy the hassle-free
          environment with worth some revenue generation. Our services are never
          limited, we keep on working with new techniques that could render much
          easier and effective IT Services to our clients.
        </p>
        <p class="lead">
          For all your needs, we are just a call away. Schedule an appointment
          with our executive to discuss your requirements. Call us NOW!
        </p>
      </div>
    </div>
  </div>
</section>
