<div class="container content-conatiner">
  <div class="row">
    <div class="col-12 service-detail-container pt-4">
      <h2 class="content-main-header">Software and Hardware Installation</h2>

      <div class="row">
        <div class="col-sm-12">
          <div>
            <img class="content-image installation-image img-left img-fluid mr-4 mt-3 rounded" src="assets/images/installation1.jpg" />
            <img class="content-image installation-image img-right img-fluid mr-4 mt-3 rounded" src="assets/images/installation2.jpg" />
          </div>
          <br />
        </div>
        <div class="col-sm-12">
          <div class="content-heading mt-2"><h3>Overview</h3></div>
          <p class="content-text">
            You cannot use one without the other. Hardware cannot be used without a supporting software and vice versa. It is important to
            have the relevant software installed on your hardware to get the job done. Software development is considered expensive as it
            needs the regular updates and is a continuing process. Hardware can be initially expensive but after that, there are no
            expenses. There is the only one-time expense in hardware.
          </p>
          <p class="content-text">
            You can run different software programs on the same hardware. The software is required because it acts as an interface between
            the hardware and the user. You can say that hardware is the soul of the computer while the software is the heart of the
            computer. Both complement each other.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-service-card></app-service-card>
<app-quick-links></app-quick-links>
