.homeservices1 {
  padding-top: 40px;
  margin-bottom: 40px;
}
.circle-icon {
  font-size: 3em;
}
.service-icon {
  font-size: 1em;
  color: #ffffff;
}
.portfolio-item {
  background-color: #f4f7fc;
  cursor: pointer;
}
.service-container {
  padding-bottom: 2em;
  .service-card {
    padding: 1em 0;
  }
}
.fa-stack-1x {
  color: #efefef;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-stack-1x:hover {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  zoom: 1.1;
  -ms-zoom: 1.1;
  -webkit-zoom: 1.1;
  -moz-transform: scale(1.1);
}
.fa-circle {
  color: transparent;
  border: 1px solid #efefef;
  border-radius: 50%;
  background: #1476ac;
}
